In [4]:
!pip install git+https://github.com/rodrigobercini/yfinance.git

Collecting git+https://github.com/rodrigobercini/yfinance.git
  Cloning https://github.com/rodrigobercini/yfinance.git to /tmp/pip-req-build-bqdy384n
  Running command git clone -q https://github.com/rodrigobercini/yfinance.git /tmp/pip-req-build-bqdy384n
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance==0.1.54) (1.0.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance==0.1.54) (1.18.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance==0.1.54) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance==0.1.54) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance==0.1.54) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance==0.1.54) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance==0.1.54) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance==0.1.54) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance==0.1.54) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance==0.1.54) (2020.4.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance==0.1.54) (1.12.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22462 sha256=74a8b975432e78046e2c56def6df84a1262e921d571a4f10170c03444b294080
  Stored in directory: /tmp/pip-ephem-wheel-cache-ngivv8er/wheels/49/2e/cb/d6bf7143e9590ccc5d99d58148be72887301a45779a63f20d7
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [0]:
import yfinance as yf
petr = yf.Ticker("PETR4.SA")

In [23]:
petr.history(period='max')

             Open   High    Low  Close        Volume  Dividends  Stock Splits
Date
2000-01-03   4.05   4.05   4.05   4.05  3.538944e+10        0.0           0.0
2000-01-04   3.83   3.83   3.83   3.83  2.886144e+10        0.0           0.0
2000-01-05   3.79   3.79   3.79   3.79  4.303360e+10        0.0           0.0
2000-01-06   3.77   3.77   3.77   3.77  3.405568e+10        0.0           0.0
2000-01-07   3.79   3.79   3.79   3.79  2.091264e+10        0.0           0.0
...           ...    ...    ...    ...           ...        ...           ...
2020-05-19  18.51  18.93  18.41  18.68  8.013160e+07        0.0           0.0
2020-05-20  19.09  19.44  19.06  19.30  7.459510e+07        0.0           0.0
2020-05-21  19.50  19.77  19.07  19.19  8.132700e+07        0.0           0.0
2020-05-22  18.80  18.90  18.35  18.67  6.884290e+07        0.0           0.0
2020-05-25  19.48  19.56  19.26  19.48  3.077720e+07        0.0           0.0

[5016 rows x 7 columns]

In [24]:
petr.history(start='2005-05-01', end='2013-12-31')

             Open   High    Low  Close      Volume  Dividends  Stock Splits
Date
2005-05-02   8.57   8.57   8.32   8.54  19004800.0        0.0           0.0
2005-05-03   8.54   8.58   8.39   8.51  22736000.0        0.0           0.0
2005-05-04   8.52   8.68   8.52   8.63  27260800.0        0.0           0.0
2005-05-05   8.70   8.80   8.65   8.80  31670400.0        0.0           0.0
2005-05-06   8.84   9.05   8.84   8.95  29177600.0        0.0           0.0
...           ...    ...    ...    ...         ...        ...           ...
2013-12-20  15.01  15.04  14.62  14.71  26875500.0        0.0           0.0
2013-12-23  14.81  14.94  14.68  14.84  11520400.0        0.0           0.0
2013-12-26  14.92  14.96  14.70  14.72  15294800.0        0.0           0.0
2013-12-27  14.79  14.81  14.63  14.73  15114200.0        0.0           0.0
2013-12-30  14.75  15.01  14.75  14.86  10598500.0        0.0           0.0

[2106 rows x 7 columns]

In [90]:
petr = yf.download("ABEV3.SA", period='60d',  interval = "30m")
petr

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close   Volume
Datetime
2020-02-27 10:00:00-03:00  14.90  14.92  14.45  14.57      14.57  7105200
2020-02-27 10:30:00-03:00  14.58  14.73  14.56  14.61      14.61  7090800
2020-02-27 11:00:00-03:00  14.61  14.61  14.28  14.33      14.33  4913600
2020-02-27 11:30:00-03:00  14.32  14.79  14.30  14.75      14.75  8165100
2020-02-27 12:00:00-03:00  14.75  14.76  14.60  14.63      14.63  3758000
...                          ...    ...    ...    ...        ...      ...
2020-05-25 14:00:00-03:00  12.25  12.36  12.20  12.30      12.30   789100
2020-05-25 14:30:00-03:00  12.30  12.31  12.22  12.22      12.22   657900
2020-05-25 15:00:00-03:00  12.22  12.25  12.20  12.21      12.21   652100
2020-05-25 15:30:00-03:00  12.22  12.25  12.20  12.24      12.24   896800
2020-05-25 16:00:00-03:00  12.23  12.29  12.22  12.27      12.27   523000

[835 rows x 6 columns]

In [91]:
len(set(list(petr.index.date)))

60

In [87]:
petr = yf.download("ABEV3.SA", period='7d',  interval = "1m")
petr

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close  Volume
Datetime
2020-05-15 10:11:00-03:00  11.69  11.70  11.60  11.64      11.64       0
2020-05-15 10:12:00-03:00  11.63  11.66  11.58  11.66      11.66   81700
2020-05-15 10:13:00-03:00  11.68  11.68  11.64  11.67      11.67   25500
2020-05-15 10:14:00-03:00  11.68  11.71  11.68  11.69      11.69   24800
2020-05-15 10:15:00-03:00  11.68  11.68  11.64  11.65      11.65   28000
...                          ...    ...    ...    ...        ...     ...
2020-05-25 16:04:00-03:00  12.22  12.24  12.22  12.22      12.22   19000
2020-05-25 16:05:00-03:00  12.22  12.24  12.22  12.24      12.24   22100
2020-05-25 16:06:00-03:00  12.23  12.24  12.22  12.23      12.23   16800
2020-05-25 16:07:00-03:00  12.22  12.25  12.22  12.23      12.23   45300
2020-05-25 16:12:31-03:00  12.26  12.26  12.26  12.26      12.26       0

[2777 rows x 6 columns]

In [89]:
len(set(list(petr.index.date)))

7

In [92]:
petr = yf.Ticker("PETR4.SA")
petr.financials

                                         2019-12-31  ...   2016-12-31
Research Development                      2.268e+09  ...    1.826e+09
Effect Of Accounting Charges                   None  ...         None
Income Before Tax                        4.7242e+10  ...  -1.0703e+10
Minority Interest                         3.596e+09  ...    2.513e+09
Net Income                               4.0137e+10  ...  -1.4824e+10
Selling General Administrative           2.6114e+10  ...   2.5307e+10
Gross Profit                            1.22105e+11  ...   8.9978e+10
Ebit                                     7.7887e+10  ...   4.7096e+10
Operating Income                         7.7887e+10  ...   4.7096e+10
Other Operating Expenses                  1.359e+10  ...    3.908e+09
Interest Expense                        -1.9783e+10  ...  -2.0959e+10
Extraordinary Items                            None  ...         None
Non Recurring                                  None  ...         None
Other Items                                    None  ...         None
Income Tax Expense                         1.64e+10  ...    2.342e+09
Total Revenue                           3.02245e+11  ...  2.82589e+11
Total Operating Expenses                2.24358e+11  ...  2.35493e+11
Cost Of Revenue                          1.8014e+11  ...  1.92611e+11
Total Other Income Expense Net          -3.0645e+10  ...  -5.7799e+10
Discontinued Operations                  1.0128e+10  ...    3.193e+09
Net Income From Continuing Ops           3.0842e+10  ...  -1.3045e+10
Net Income Applicable To Common Shares   4.0137e+10  ...  -1.4824e+10

[22 rows x 4 columns]